@media screen and (max-width: 960px) {	
   .box{
      background: blue;
   }

   p#width768{
      display:none;
   }

   p#width480{
      display:none;
   }
}

@media screen and (max-width: 768px) {	
   .box{
      background: green;
   }

   p#width960{
      display:none;
   }
}

 @media screen and (max-width: 480px) {	
   .box{
      background: orange;
   }
}
 