@media screen and (max-width: 960px) {	
   .box{
      background: blue;
      display: flex;
      align-items: center;
      justify-content: center;
      content: "Bredde: 960px";
      color: white;
   }
}

@media screen and (max-width: 768px) {	
   .box{
      background: green;
      display: flex;
      align-items: center;
      justify-content: center;
      content: "Bredde: 768px";
   }
}

 @media screen and (max-width: 480px) {	
   .box{
      background: orange;
      display: flex;
      align-items: center;
      justify-content: center;
      content: "Bredde: 480px";
   }
}
 